{
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "editorconfig": true,
  "printWidth": 80
}
